.btn,
.title {
    text-transform: uppercase
}
.btn.small,
body {
    position: relative
}
.card,
.img-wrap {
    overflow: hidden
}
@font-face {
    font-family: RobotoRegular;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/RobotoRegular/RobotoRegular.eot?#iefix) format("embedded-opentype"), 
    url(fonts/RobotoRegular/RobotoRegular.woff) format("woff"), 
    url(fonts/RobotoRegular/RobotoRegular.ttf) format("truetype")
}
@font-face {
    font-family: OpenSansBold;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/OpenSansBold/OpenSansBold.eot?#iefix) format("embedded-opentype"), 
    url(fonts/OpenSansBold/OpenSansBold.woff) format("woff"), 
    url(fonts/OpenSansBold/OpenSansBold.ttf) format("truetype")
}
body {
    font-size: 16px;
    min-width: 320px;
    line-height: 1.6;
    font-family: RobotoRegular, sans-serif;
    overflow-x: hidden
}
.hidden {
    display: none
}
.btn,
li {
    display: inline-block
}
.clrp {
    padding: 0
}
.mt0 {
    margin-top: 0!important
}
.mb0 {
    margin-bottom: 0!important
}
.mt2 {
    margin-top: 20px
}
.mb2 {
    margin-bottom: 20px
}
.mt4 {
    margin-top: 40px
}
.mb4 {
    margin-bottom: 40px
}
.mt6 {
    margin-top: 60px
}
.mb6 {
    margin-bottom: 60px
}
.right {
    text-align: right
}
.left {
    text-align: left
}
.btn,
.center {
    text-align: center
}
a:hover {
    text-decoration: none;
    color: #111
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: OpenSansBold, sans-serif
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: default
}
button,
input,
textarea {
    outline: 0;
    border: none
}
.title {
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: maroon;
    font-size: 22px
}
.subtitle {
    font-size: 18px;
    line-height: 24px;
    color: #666;
    margin-bottom: 25px
}
.mob-button {
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 1000;
    top: 32px;
    right: 12px;
    margin: 0 auto
}
.mob-button span {
    position: absolute;
    width: 100%;
    left: 0;
    height: 3px;
    background-color: #111;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s
}
.mob-button span:nth-child(1) {
    top: 4px
}
.mob-button span:nth-child(2) {
    top: 16px
}
.mob-button span:nth-child(3) {
    top: 28px
}
.mob-button.active span:nth-child(1) {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 15px;
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}
.mob-button.active span:nth-child(2) {
    width: 0
}
.mob-button.active span:nth-child(3) {
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 15px;
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}
